



@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;700&display=swap')
// font-family: 'Noto Sans JP', sans-serif
*
    padding: 0
    margin: 0
    outline: 1px solid red

body
    background-image: linear-gradient(rgba(#000, 0.5), rgba(#000, 0.5)), url(/img/back_g.jpg)
    background-size: cover
    color: white
    font-family: 'Noto Sans JP', sans-serif
    font-size: 1rem
    overflow-x: hidden

    display: flex
    flex-direction: column
    min-height: 100vh

nav
    display: flex
    justify-content: space-between
    margin-top: 1vw
    padding: 0 1vw
    position: relative 
    z-index: 3

    font-size: 24px
    letter-spacing: 0.1em
    >span
        display: flex
        align-items: center
    .current
        display: flex
        align-items: stretch
        span
            display: flex
            align-items: center
        img
            margin: auto
            height: 24px
    .logo
        height: 4rem
    hr
        margin: auto
        width: 20vw
        border: 0
        background-color: white
        height: 1px
        opacity: 0.5

.content_wrap
    display: flex
    justify-content: center
    align-items: center

.character_display
    position: relative
    .character_image
        display: block
        width: 420px
        height: 640px
        object-fit: contain
        position: relative
    .character_banner
        position: absolute
        opacity: 0.33
        z-index: 0
        right: -15%
        transform: translateY(-5%)

.left_panel, .right_panel
    width: 30%            
    position: relative
    display: flex
    flex-direction: column
    transition: 20ms 5ms

.left_panel
    position: relative
    transform: skewY(1deg)
    .class
        display: flex
        align-items: stretch
        width: max-content
        background-color: black
        border: 2px solid white
        position: relative
        img
            width: 64px
            display: block
            border-right: 2px solid white
        span
            display: flex
            align-items: center
            font-size: 32px
            letter-spacing: 0.1em
            background-color: black
            padding: 0 0.5em
            padding-bottom: 0.15em
            text-transform: uppercase
            border-right: 2px solid white
            &:last-of-type
                background-color: white
                color: black
                height: auto
                border-right: 0
    .faction
        border: 0
        width: 256px
        position: absolute
        z-index: 0
        right: 0
        opacity: 0.25
        transform: translateY(-25%)
    .stars
        position: relative
        display: flex
        span
            font-size: 28px
            rotate: 15deg
            display: block
    .desc, .special
        position: relative
        margin-top: 1.25em
        
.right_panel
    transform: skewY(-1deg)
    .name
        font-size: 2.5rem
        font-weight: 700
        &:has(img)
            height: 64px
            img
                height: 64px
                display: block
                position: absolute
                transform: translateX(-15%)
    .skills
        >div
            margin-top: 1.25em
            >div
                margin: 0.75em 0
                display: flex
                gap: 0.5em
                img
                    display: block
        .active
            img
                width: 64px
                aspect-ratio: 1/1
        .passive
            img 
                width: 48px
                aspect-ratio: 1/1
    
.gallery
    display: flex
    gap: 1vw
    justify-content: center
    position: relative
    z-index: 2
    >div
        display: flex
        gap: 0.5vw
        img
            width: 128px
    button
        background-color: transparent
        border: 0
        height: max-content
        margin: auto 0
        padding: 0.5em
        transition: 200ms
        img 
            display: block
            pointer-events: none
    a
        transition: 200ms
        img
            display: block

footer
    width: 100%
    height: max-content
    display: flex
    margin-top: auto
    padding: 0 1vw
    box-sizing: border-box
    div
        margin: 0 auto
        span
            display: block
            text-align: center
            a
                color: inherit
    hr
        border: 0
        width: 20vw
        height: 1px
        background-color: white
        margin: auto 0
        opacity: 0.5
    img 
        margin: auto 0 
        height: 18px
        &:last-of-type
            transform: scaleX(-100%)
    

