@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
}
* img {
  -webkit-user-select: none;
  user-select: none;
}

body {
  background-image: url(/img/00018.jpg);
  background-size: cover;
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
  box-shadow: inset 0 0 100vw black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/dot.png);
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 1vw;
  padding: 0 1vw;
  position: relative;
  z-index: 3;
  font-size: 24px;
  letter-spacing: 0.1em;
}
nav > span {
  display: flex;
  align-items: center;
}
nav .current {
  display: flex;
  align-items: stretch;
}
nav .current span {
  display: flex;
  align-items: center;
}
nav .current img {
  margin: auto;
  height: 24px;
}
nav .current:hover > .nav_fold {
  height: 11.8rem;
}
nav .current:hover > .nav_fold > div {
  opacity: 1;
}
nav .current .nav_fold {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  transform: translateY(100%);
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  padding: 0.15em 0.15em 0.15em 0;
  transition: 200ms;
  min-width: 257px;
  height: 0;
  overflow: hidden;
}
nav .current .nav_fold div {
  width: max-content;
  display: flex;
  padding: 0.25em 0;
  transition: 200ms 200ms;
  opacity: 0;
}
nav .current .nav_fold div:hover > a {
  transform: translateX(0%);
}
nav .current .nav_fold div a {
  color: inherit;
  text-decoration: none;
  display: block;
  transition: 80ms;
  transform: translateX(-4px);
}
nav .current .nav_fold div img {
  margin: auto;
  height: 16px;
}
nav .logo {
  height: 4rem;
}
nav hr {
  margin: auto;
  width: 20vw;
  border: 0;
  background-color: white;
  height: 1px;
  opacity: 0.5;
}

.content_wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.character_display {
  position: relative;
}
.character_display .character_image {
  display: block;
  width: 420px;
  height: 640px;
  object-fit: contain;
  position: relative;
  filter: drop-shadow(0 0 6px black);
  animation: float 4s infinite ease-in-out;
}
.character_display .character_banner {
  position: absolute;
  opacity: 0.33;
  z-index: 0;
  right: -15%;
  transform: translateY(-5%);
}

@keyframes float {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(0%);
  }
}
.left_panel, .right_panel {
  width: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: 20ms 5ms;
}

.left_panel {
  position: relative;
  transform: skewY(1deg);
}
.left_panel .class {
  display: flex;
  align-items: stretch;
  width: max-content;
  background-color: black;
  border: 2px solid white;
  position: relative;
}
.left_panel .class img {
  width: 64px;
  display: block;
  border-right: 2px solid white;
}
.left_panel .class span {
  display: flex;
  align-items: center;
  font-size: 32px;
  letter-spacing: 0.1em;
  background-color: black;
  padding: 0 0.5em;
  padding-bottom: 0.15em;
  text-transform: uppercase;
  border-right: 2px solid white;
}
.left_panel .class span:last-of-type {
  background-color: white;
  color: black;
  height: auto;
  border-right: 0;
}
.left_panel .faction {
  border: 0;
  width: 256px;
  position: absolute;
  z-index: 0;
  right: 0;
  opacity: 0.25;
  transform: translateY(-25%);
}
.left_panel .stars {
  position: relative;
  display: flex;
}
.left_panel .stars span {
  font-size: 28px;
  rotate: 15deg;
  display: block;
}
.left_panel .desc, .left_panel .special {
  position: relative;
  margin-top: 1.25em;
}

.right_panel {
  transform: skewY(-1deg);
}
.right_panel .name {
  font-size: 2.5rem;
  font-weight: 700;
}
.right_panel .name:has(img) {
  height: 64px;
}
.right_panel .name:has(img) img {
  height: 64px;
  display: block;
  position: absolute;
  transform: translateX(-15%);
}
.right_panel .skills #skill_selector {
  width: 2px;
  height: 64px;
  position: absolute;
  display: block;
  left: -12px;
  background-color: white;
  transition: 200ms;
}
.right_panel .skills > div {
  margin-top: 1.25em;
}
.right_panel .skills > div > div {
  margin: 0.75em 0;
  display: flex;
  gap: 0.5em;
  transition: all 80ms;
}
.right_panel .skills > div > div:hover {
  scale: 102%;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 1px 1px 3px black;
}
.right_panel .skills > div > div img {
  display: block;
  filter: grayscale(66%);
  margin: auto 0;
}
.right_panel .skills > div > div:hover > img {
  filter: grayscale(0%);
}
.right_panel .skills > div > div p {
  padding: 0.15em 0 0.25em 0;
}
.right_panel .skills .active img {
  width: 64px;
  height: 64px;
}
.right_panel .skills .passive img {
  width: 48px;
  height: 48px;
}

.gallery {
  display: flex;
  gap: 1vw;
  justify-content: center;
  position: relative;
  z-index: 2;
  padding-top: 1vw;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 20%, rgba(255, 255, 255, 0.75) 40%, rgba(255, 255, 255, 0.75) 60%, rgba(0, 0, 0, 0) 80%) 30;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}
.gallery > div {
  display: flex;
  gap: 0.5vw;
}
.gallery > div img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.gallery button {
  background-color: transparent;
  border: 0;
  height: max-content;
  margin: auto 0;
  padding: 0.5em;
  transition: 200ms;
}
.gallery button:active {
  transform: scale(98%);
}
.gallery button img {
  display: block;
  pointer-events: none;
  transition: 80ms;
}
.gallery #forward:hover > img {
  transform: translateX(2%);
}
.gallery #backward:hover > img {
  transform: translateX(-2%);
}
.gallery a {
  transition: 200ms;
}
.gallery a img {
  display: block;
}

footer {
  position: relative;
  width: 100%;
  height: max-content;
  display: flex;
  margin-top: auto;
  padding: 0 1vw;
  box-sizing: border-box;
}
footer div {
  margin: 0 auto;
}
footer div span {
  display: block;
  text-align: center;
}
footer div span a {
  color: inherit;
}
footer hr {
  border: 0;
  width: 20vw;
  height: 1px;
  background-color: white;
  margin: auto 0;
  opacity: 0.5;
}
footer img {
  margin: auto 0;
  height: 18px;
}
footer img:last-of-type {
  transform: scaleX(-100%);
}

/*# sourceMappingURL=index.css.map */
